/* file for home page*/

body {                                                                  /*BACKGROUND IMG*/
    background-image: url(../imgs/homepage-cooking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

* {                                                                     /*sets font */
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

.recipe-link, .button {                                                 /*gives seperation for recipe links*/
    display:inline-block;
    background-color: blanchedalmond;
    padding: 3px;
    border:5px;
    margin:5px

}

#title, .topic {                                                        /*sets the title of the page and the main topics text styles*/
    background-color: blanchedalmond;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding-right: 10px;   
    padding-left: 10px;
    
}

div.image-posit {                                                       /*sets img position*/
    position: relative;
    left: 900px;
    bottom: 600px; 
    
}

.kid, .walter {                                                        /*makes img border*/
    display: inline-block;
    border: 5px solid black;
}